<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Input Trip Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
        <p th:text="${message}" style="color:red"/>
        <h1>Trip Information</h1>
        <h2>Trip Starting Point</h2>
    <form action="#" th:action="@{/showinfo}" th:object="${inputInfo}" method="post">
        <p>Street Address: <input type="text" th:field="*{streetAddress}" /></p>
        <p>City: <input type="text" th:field="*{city}" /></p>
        <p>State: <input type="text" th:field="*{state}" /></p>
        <p>Zip Code: <input type="text" th:field="*{zip}" /></p>

        <h2>Other Trip Information</h2>
        <p>Trip Max Radius (Miles): <input type="text" th:field="*{radius}" />*max <span th:text="${MAX_RADIUS}"></span> miles</p>
        <p>Trip Check In Date: <input type="date" th:field="*{checkInDate}" /></p>
        <p>Trip Check Out Date: <input type="date" th:field="*{checkOutDate}" />*max <span th:text="${MAX_TRIP_LENGTH_DAYS}"></span> day stay</p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>